<% title "Players" %>

<table class="playerlist">
  <tr>
    <th>Name</th>
    <th>Dues Paid Through</th>
  </tr>
  <% for player in @players.sort {|a,b| a.name <=> b.name} %>
    <tr>
      <td><%= link_to player.name, player %></td>
      <td><%= player.lifetime_member ? "Lifetime" : (player.dues_paid ? player.dues_paid_through : "-") %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Player", new_player_path(player) %></p>
